<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>LOGIN</title>
</head>
<body>
    <div ALIGN=CENTER>
        <form class="form-signin" action='/login' method='post'>
          <h2 class="form-signin-heading">Please login</h2>
          <input style="width: 300px" type="text" class="form-control" name="email" placeholder="Email Address" required="" autofocus="" /> <br>
          <input style="width: 300px" type="password" class="form-control" name="password" placeholder="Password" required=""/>
          <br/>
          <button class="btn btn-lg btn-info" type="submit">Login</button>
          <a href="/register" class="btn btn-lg btn-info"">Click here to Register</a>
        </form>
     </div>
</body>
</html>
