<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <!--Nav CSS-->
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <!--Register CSS-->
    <link rel="stylesheet" href="/styles/login_and_register.css" type="text/css" />
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap" rel="stylesheet">
  </head>

  <body>
      <nav class="gridLayered">
          <div class="leftContainer">
              <img class="navimg leftItem" src ="https://www.sccpre.cat/mypng/detail/172-1728754_japanese-akita-icon-wrapping-paper-shiba-inu.png" >
              <h1 id="navTitle" class="leftItem">Miso</h1>
          </div>
      </nav>
      <div ALIGN="center" class="registerForm">
        <form method="POST" action="/register">
          <h2 class="form-signin-heading">Register with Miso</h2>
          <input style="width: 300px" class="form-control" type="username" id="username" name="username" placeholder="Username" autofocus="" />
          <br>
          <input style="width: 300px" class="form-control" type="email" id="email" name="email" placeholder="Email Address" autofocus="" />
          <br>
          <input style="width: 300px" class="form-control" type="password" id="password" name="password" placeholder="Password" /><br>
          <button class="btn btn-outline-dark" type="submit">Register</button>
        </form>
      </div>

  </body>
</html>
