<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Registration</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <form ALIGN=CENTER method="POST" action="/register">
      <label for="email">Email</label><br>
      <input type="email" id="email" name="email" />
      <br>
      <label for="password">Password</label><br>
      <input type="password" id="password" name="password" /><br><br>
      <button class="btn btn-info" type="submit">Register Now</button>
      </form>
  </body>
</html>
