.indexFooter {
  background-color: #8DB0D4;
  /* background: linear-gradient(to top, rgb(97, 156, 216) 0%, rgb(66, 139, 212) 100%); */
  color: white;
  height: 200px;
  /* position: fixed; */
  padding: 1em;
  width: 100%;
  font-family: 'Pacifico', serif;
}
