#header {
  background-color:#f7f0db;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 10px;
}

.centerHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#headerTitle {
  font-family: 'Pacifico', serif;
  color: #244751;
}

