.bookSection {
  display: none;
}

.movieSection {
  display: none;
}

.restSection {
  display: none;
}

.prodSection {
  display: none;
}

.miscSection {
  display: none;
}

.archiveSection {
  display: none;
}

.toDoList {
  background-color: f8dc88;
  border-top: 3px solid #244751;
  margin-left: 30px;
  margin-right: 30px;
  padding: 10px;
  overflow: auto;

}

.itemHeader {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
}

/* Items on left of Nav bar */
.leftContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.leftItem {
  align-self: flex-start;
}

/* Items on right of Nav bar */
.rightContainer {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.rightItem {
  margin-left: auto;
  padding-right: 15px;
}

.itemExtLink {
  border-radius: 15%;
  height: 48px;
}

.itemTitleHeader {
  font-size: 24px;
  color:  #244751;
  padding-left: 60px;

}

/* styles applied to target element of the anchor link on click */
:target::before {
  content: "";
  display: block;
  height: 100px; /* fixed header height*/
  margin: -100px 0 0; /* negative fixed header height */
}

.listTitle {
  font-family: 'Pacifico', serif;
  color:  #244751;
  padding-left: 60px;
}

.listTitle:hover {
  color: #8DB0D4;
}

.fa-sort-down:hover {
  color: #8DB0D4;
}

.itemContext {
  padding-left: 60px;
}

/* Boostrap Button Customization */
#completeBtn {
  border-color: rgb(190, 216, 157);
  color: rgb(190, 216, 157);
  border-width: 2px;
}

#completeBtn:hover {
  background: rgb(190, 216, 157);
  color: #f7f0db;
}

#linkBtn {
  color: #244751;
  border-color: #244751;
  border-width: 2px;
}

#linkBtn:hover {
  color: #f7f0db;
  background: #244751;
}

#archiveBtn {
  color: rgb(246, 172, 140);
  border-color: rgb(246, 172, 140);
  border-width: 2px;
}

#archiveBtn:hover {
  color: #f7f0db;
  background: rgb(246, 172, 140);
}
