.toDoList {
  background-color: f8dc88;
  border-top: 3px solid #244751;
  margin-left: 30px;
  margin-right: 30px;
  padding: 10px;
  overflow: auto;

}

.itemHeader {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
}

/* Items on left of Nav bar */
.leftContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.leftItem {
  align-self: flex-start;
}

/* Items on right of Nav bar */
.rightContainer {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.rightItem {
  margin-left: auto;
  padding-right: 15px;
}

.itemExtLink {
  border-radius: 15%;
  height: 48px;
}

.itemTitleHeader {
  font-size: 24px;
  color:  #244751;
  padding-left: 60px;

}

/* styles applied to target element of the anchor link on click */
:target::before {
  content: "";
  display: block;
  height: 100px; /* fixed header height*/
  margin: -100px 0 0; /* negative fixed header height */
}

.listTitle {
  font-family: 'Pacifico', serif;
  color:  #244751;
  padding-left: 60px;
}

.itemContext {
  padding-left: 60px;
}
