nav {
  background-color: #8DB0D4;
  color: white;
  height: 90px;
  position: fixed;
  padding: 1em;
  width: 100%;
  font-family: 'Pacifico', serif;
}

/* not sure if below is needed yet */
/* .gridLayered {
  display: flex;
  flex-direction: row;
} */

/* Items on left of Nav bar */
.leftContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
}

.leftItem {
  align-self: flex-start;
}

/* Items on right of Nav bar */
.rightContainer {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.rightItem {
  margin-left: auto;
}

/* Individual items left of Nav bar */
.navimg {
  width: 100px;
  border-radius: 35%;
}

.fas {
  align-self: center;
  margin: 5px;
  display: none;
}

.iconLinks {
  color: white;
  align-self: center;
  margin: 10px;
}

@keyframes bounce {
  from{
    transform: translateY(0px);
  }
  to{
    transform: translateY(15px);
  }
}

.fas:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

#navTitle {
  padding-top: 10px;
  padding-left: 20px;
  color: white;
}

/* Individual items right of Nav bar */
