nav {
  background-color: #8DB0D4;
  color: white;
  height: 90px;
  position: fixed;
  padding: 1em;
  width: 100%;
  font-family: 'Pacifico', serif;
}

/* not sure if below is needed yet */
/* .gridLayered {
  display: flex;
  flex-direction: row;
} */

/* Items on left of Nav bar */
.leftContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
}

.leftItem {
  align-self: flex-start;
}

/* Items on right of Nav bar */
.rightContainer {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.rightItem {
  margin-left: auto;
}

/* Individual items left of Nav bar */
.navimg {
  width: 100px;
  border-radius: 35%;
}

.fas {
  align-self: center;
  margin: 5px;
  display: none;
  position: relative;
}

.fas:hover {
  animation-name: move-down;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.iconLinks {
  color: white;
  align-self: center;
  margin: 10px;
}

@keyframes move-down {
  0% {bottom: 0px}
  50% {bottom: 5px}
  100% {bottom: 0px}
}

#navTitle {
  padding-top: 10px;
  padding-left: 20px;
  color: white;
}

/* Individual items right of Nav bar */
